.navbar {
 
  width: 80%;
  margin: auto;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .navbar {
   width: 90%;
  }
}

.navbar-expand .navbar-collapse {
  justify-content: space-around;
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
}

@media (max-width: 600px) {
  .loading-container {
   position: absolute;
    left: 40%;
   right: 0;
   top: 50%;
  }
}


.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}



.product-details {
  text-decoration: none;
  text-align: center;
  color: white;

}

.product-details:hover {
  color: rgb(107, 195, 218);
  
}

.card:hover{
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);;
}



.product-image {
  height: 300px;
  object-fit: contain;
  padding: 20px;
  background: white;

}

.list {

  text-align: center;

}


/* clicked product */

.img-container {
  background: white;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 20px;
  overflow: hidden;
  width: 100%;
  margin: auto;




}

.card {
  
 
  border-radius: 10px !important;
  height: 450px !important;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
  gap: 3rem;



}


.principal-image {
  pointer-events: none;
  padding: 0 5rem;
  max-width: 600px;
  max-height: 600px;
}

@media (max-width: 600px) {
  .principal-image {
    max-width: 450px;
    max-height: 450px;
  }
}

.product-description {

  text-align: justify;
}

.related-products {
  padding-bottom: 2rem;
  text-align: center;
}

.underline{
  margin: auto;
  width: 20%;
  background-color: white;
  height: 1px;
}

.card-item:hover {
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
 
}


.swap-icon{
  color: rgba(0, 0, 0, 0.281);
  padding-top: 2rem;
  margin: 0;
}

/* Login */

.login-container{
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
   
}


.login-element{
  border-radius: 15px !important;
  
}



.login-button{
  width: 30%;
  margin: auto;
  border-radius: 10px !important;
}


.purchased-list{
  list-style: none  ;
}
.purchased-products{
  text-decoration: none;
  text-align: justify;
  padding: 20px 0;
  color: white;
  margin: 0;
  display: block;
}

.purchased-products:hover {
  color: rgb(129, 201, 219);
  
}
.purchases-container{
  padding: 30px 0;
}


/* cart */

.product-in-cart{
  background: rgba(255, 255, 255, 0.959);
  border: 0.5px solid black;
  border-radius: 15px;
  padding: 20px;
}

.product-in-cart:hover{
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
  border: 0.5px solid rgba(0, 0, 0, 0);

}

.product-in-cart p{
  color: rgb(0, 0, 49);
  
}

.cart-title{
  text-align: center !important;
}
.cart-button{
  display: flex;
  flex-direction: column;
}

.add-to-cart{
  display: flex;
  justify-content: flex-end;
}

.add-to-cart input{
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
 
 width: 15%;
 
}

.add-to-cart Button{
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
}